<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "//http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle"class="org.darth.vedar.Triangle">
	<property name="type" value="Equilateral"/> -->
	
	<!-- specify the data type -->
	<constructor-arg int="int" value="20"> -->
	<constructor-arg type="java.lang.String" value="Equilateral"/>
	
	<!-- OR specify with index-->
	<constructor-arg index="0" value="Equilateral"/>
	<constructor-arg index="1" value="20"/>
</bean>